{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="{% static 'js/jquery-1.12.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
</head>
<body>
<div id="top">
    <div class="header"><img src="{% static 'img/load1.png' %}"/></div>
</div>
<div id="container">
    <div class="center">
        <div class="left">
            <h3>登入网易邮箱帐号</h3>
            <form action="{% url 'app:login' %}" method="post" id="loginForm">
                {% csrf_token %}
                <input type="text" placeholder="网易邮箱帐号" id="username" name="account"/>
                <input type="password" placeholder="密码" id="pwd" name="passwords"/>
                <span class="user_img"><img src="{% static 'img/user.png' %}"/></span>
                <span class="pwd_img"><img src="{% static 'img/pwd.png' %}"/></span>
                <div class="div">
                    <p id="prompt"></p>
                    <input type="checkbox" id="checkbox"/><span class="checkbox_left">十天内免登入</span>
                    <span class="checkbox_right">忘记密码?</span>
                </div>

                <button type="submit" id="btn">登入</button>
            </form>
            <p>没有网易邮箱？<a href="#">立即免费注册>></a></p>
            <div class="last">
                <span class="first">使用第三方帐号登入：</span>
                <span><img src="{% static 'img/微信.png' %}" class="pic"/></span>
                <span><img src="{% static 'img/iconfon-zhifubao.png' %}" class="pic"/></span>
                <span><img src="{% static 'img/微博.png' %}" class="pic"/></span>
                <span><img src="{% static 'img/qq.png' %}"/></span>
            </div>
        </div>
        <div class="right">
            <div class="right_top"></div>
            <div class="middle"><img src="{% static 'img/ma.png' %}"/></div>
            <div class="right_bottom">
                <p class="p1">领取1000元新人礼包</p>
                <p class="p2">APP下单更有优惠价</p>
            </div>

        </div>
    </div>
</div>
<div id="foot">
    <div class="footer">
        <a href="#">About NetEase</a><span>|</span>
        <a href="#">公司简介</a><span>|</span>
        <a href="#">联系方法 </a><span>|</span>
        <a href="#">友情链接</a><span>|</span>
        <a href="#">招聘信息</a><span>|</span>
        <a href="#">客户服务 </a><span>|</span>
        <a href="#">隐私政策</a><span>|</span>
        <a href="#">网络营销</a><span>|</span>
        <a href="#">网站地图</a><span>|</span>
        <a href="#">网易考拉海购</a>
        <p><img src="{% static 'img/gongan1.png' %}"/> <span>浙公网安备 33010002000066号 &nbsp;&nbsp;&nbsp;增值电信业务经营许可证：浙B2-20090185-3&nbsp;&nbsp;&nbsp; 网络文化经营许可证：浙网文[2016]0155-055号&nbsp;&nbsp;&nbsp; 网易公司版权所有©1997-2016</span>
        </p>
        <p><img src="{% static 'img/gongan2.png' %}" style="height: 40px; width: 70px;"/><img
                src="{% static 'img/gongan1.png' %}" style="height: 33px ;width: 54px;"/></p>
    </div>
</div>
</body>
</html>
